{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Title -->
    <title>      
        {% block title %} 
            CBA Internship Management System
        {% endblock %}
    </title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'public/img/logo.png' %}">


    <!-- DEMO CHARTS -->
    <link rel="stylesheet" href="{% static 'public/demo/chartist.css' %}">
    <link rel="stylesheet" href="{% static 'public/demo/chartist-plugin-tooltip.css' %}">

    <!-- Template -->
    <link rel="stylesheet" href="{% static 'public/graindashboard/css/graindashboard.css' %}">

</head>

<body class="has-sidebar has-fixed-sidebar-and-header">
<!-- Header -->
<header class="header bg-body">
    <nav class="navbar flex-nowrap p-0">
        <div class="navbar-brand-wrapper d-flex align-items-center col-auto">
            <!-- Logo For Mobile View -->

            <a class="navbar-brand navbar-brand-mobile" href="/">
                <!-- CIMS -->
                <img class="img-fluid w-100" src="{% static 'public/img/logo-mini.png' %}" alt="Graindashboard">
            </a>
            <!-- End Logo For Mobile View -->

            <!-- Logo For Desktop View -->
            <a class="navbar-brand navbar-brand-desktop" href="/">
                <!-- <h2>CIMS</h2> -->
                <!-- <img class="side-nav-show-on-closed" src="{% static 'public/img/logo-mini.png' %}" alt="Graindashboard" style="width: auto; height: 33px;"> -->
                <div style="display: flex;">
                    <img class="side-nav-hide-on-closed" src="{% static 'public/img/logo.png' %}" alt="Graindashboard" style="width: auto; height: 40px;">
                    <h2 style="margin-left: 0.5rem;">CIMS</h2>
                </div>
            </a>
            <!-- End Logo For Desktop View -->
        </div>

        <div class="header-content col px-md-3">
            <div class="d-flex align-items-center">
                <!-- Side Nav Toggle -->
                <a  class="js-side-nav header-invoker d-flex mr-md-2" href="#"
                    data-close-invoker="#sidebarClose"
                    data-target="#sidebar"
                    data-target-wrapper="body">
                    <i class="gd-align-left"></i>
                </a>
                <!-- End Side Nav Toggle -->

                <!-- User Notifications -->
                <div class="dropdown ml-auto">

                </div>
                <!-- End User Notifications -->
                <!-- User Avatar -->
                <div class="dropdown mx-3 dropdown ml-2">
                    <a id="profileMenuInvoker" class="header-complex-invoker" href="#" aria-controls="profileMenu" aria-haspopup="true" aria-expanded="false" data-unfold-event="click" data-unfold-target="#profileMenu" data-unfold-type="css-animation" data-unfold-duration="300" data-unfold-animation-in="fadeIn" data-unfold-animation-out="fadeOut">
                        {% if request.user.student.profile_pic %}
                        <img class="avatar rounded-circle mr-md-2" src="{{request.user.student.profile_pic.url}}" alt="John Doe">
                        {% else %}
                        <img class="avatar rounded-circle mr-md-2" src="https://api.dicebear.com/7.x/pixel-art/svg?seed={{request.user}}&hair=short01,short02,short03,short04,short05" alt="John Doe">
                        {% endif %}

                        <!-- <span class="mr-md-2 avatar-placeholder">J</span> -->
                        <span class="d-none d-md-block">{{request.user}}</span>
                        <i class="gd-angle-down d-none d-md-block ml-2"></i>
                    </a>

                    <ul id="profileMenu" class="unfold unfold-user unfold-light unfold-top unfold-centered position-absolute pt-2 pb-1 mt-4 unfold-css-animation unfold-hidden fadeOut" aria-labelledby="profileMenuInvoker" style="animation-duration: 300ms;">
                        <li class="unfold-item">
                            <a class="unfold-link d-flex align-items-center text-nowrap" href="{% url 'profile' %}">
                    <span class="unfold-item-icon mr-3">
                      <i class="gd-user"></i>
                    </span>
                                My Profile
                            </a>
                        </li>
                        <li class="unfold-item unfold-item-has-divider">
                            <a class="unfold-link d-flex align-items-center text-nowrap" href="{% url 'logout' %}">
                    <span class="unfold-item-icon mr-3">
                      <i class="gd-power-off"></i>
                    </span>
                                Sign Out
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- End User Avatar -->
            </div>
        </div>
    </nav>
</header>
<!-- End Header -->

<main class="main">
    <!-- Sidebar Nav -->
    <aside id="sidebar" class="js-custom-scroll side-nav">
        <ul id="sideNav" class="side-nav-menu side-nav-menu-top-level mb-0">
            <!-- Title -->
            <li class="sidebar-heading h6">Dashboard</li>
            <!-- End Title -->

            <!-- Dashboard -->
            <li class="side-nav-menu-item">
                <a class="side-nav-menu-link media align-items-center" href="/">
              <span class="side-nav-menu-icon d-flex mr-3">
                <i class="gd-dashboard"></i>
              </span>
                    <span class="side-nav-fadeout-on-closed media-body">Dashboard</span>
                </a>
            </li>
            <!-- End Dashboard -->

            <!-- Documentation -->
            <li class="side-nav-menu-item">
                <a class="side-nav-menu-link media align-items-center" href="{% url 'step1' %}">
              <span class="side-nav-menu-icon d-flex mr-3">
                <i class="gd-check"></i>
              </span>
                    <span class="side-nav-fadeout-on-closed media-body">Application Process</span>
                </a>
            </li>
            <li class="side-nav-menu-item">
                <a class="side-nav-menu-link media align-items-center" href="{% url 'step2' %}">
              <span class="side-nav-menu-icon d-flex mr-3">
                <i class="gd-comment"></i>
              </span>
                    <span class="side-nav-fadeout-on-closed media-body">Placement Requirements</span>
                </a>
            </li>
            <li class="side-nav-menu-item">
                <a class="side-nav-menu-link media align-items-center" href="{% url 'step3' %}">
              <span class="side-nav-menu-icon d-flex mr-3">
                <i class="gd-envelope"></i>
              </span>
                    <span class="side-nav-fadeout-on-closed media-body">Placement</span>
                </a>
            </li>
            <li class="side-nav-menu-item">
                <a class="side-nav-menu-link media align-items-center" href="{% url 'step4' %}">
              <span class="side-nav-menu-icon d-flex mr-3">
                <i class="gd-layout-media-overlay"></i>
              </span>
                    <span class="side-nav-fadeout-on-closed media-body">Training Proper</span>
                </a>
            </li>
            <li class="side-nav-menu-item">
                <a class="side-nav-menu-link media align-items-center" href="{% url 'step5' %}">
              <span class="side-nav-menu-icon d-flex mr-3">
                <i class="gd-file"></i>
              </span>
                    <span class="side-nav-fadeout-on-closed media-body">Final Requirements</span>
                </a>
            </li>
            <li class="side-nav-menu-item">
                <a class="side-nav-menu-link media align-items-center" href="{% url 'files' %}">
              <span class="side-nav-menu-icon d-flex mr-3">
                <i class="gd-files"></i>
              </span>
                    <span class="side-nav-fadeout-on-closed media-body">Files To Download</span>
                </a>
            </li>
            <!-- End Documentation -->

        </ul>
    </aside>
    <!-- End Sidebar Nav -->
    {% block content %}
    {% endblock %}
</main>


<script src="{% static 'public/graindashboard/js/graindashboard.js' %}"></script>
<script src="{% static 'public/graindashboard/js/graindashboard.vendor.js' %}"></script>

<!-- DEMO CHARTS -->
<script src="{% static 'public/demo/resizeSensor.js' %}"></script>
<script src="{% static 'public/demo/chartist.js' %}"></script>
<script src="{% static 'public/demo/chartist-plugin-tooltip.js' %}"></script>
<script src="{% static 'public/demo/gd.chartist-area.js' %}"></script>
<script src="{% static 'public/demo/gd.chartist-bar.js' %}"></script>
<script src="{% static 'public/demo/gd.chartist-donut.js' %}"></script>
<script>
    $.GDCore.components.GDChartistArea.init('.js-area-chart');
    $.GDCore.components.GDChartistBar.init('.js-bar-chart');
    $.GDCore.components.GDChartistDonut.init('.js-donut-chart');
</script>
</body>
</html>