{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Title -->
    <title>CIMS Student Info</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'public/img/favicon.ico' %}">

    <!-- Template -->
    <link rel="stylesheet" href="{% static 'public/graindashboard/css/graindashboard.css' %}">
  </head>

  <body class="">

    <main class="main">

      <div class="content">

			<div class="container-fluid pb-5">

				<div class="row justify-content-md-center">
					<div class="card-wrapper col-12 col-md-4 mt-5">
						<div class="brand text-center mb-3">
							<h2>Fill Up Student Info</h2>
						</div>

						<div class="card">
							<div class="card-body">
								<h4 class="card-title">Student Info</h4>
								<form method="post" enctype="multipart/form-data">
									{% csrf_token %}
									<div style="visibility: hidden; position: absolute;">
										{{form}}
									</div>
									<div class="form-group">
										<label for="name">Student ID</label>
										<input type="text" class="form-control" id="name" name="student_id" required=""  autofocus="">
									</div>
									<div class="form-group">
										<label for="name">Adviser</label>
										<input type="text" class="form-control" id="name" name="adviser" required="" autofocus="">
									</div>
									<div class="form-row">
										<div class="form-group col-md-4">
											<label for="password">Redering Hours
											</label>
											<input id="password" type="number" class="form-control" min="1" name="hours" required="">
										</div>
										<div class="form-group col-md-4">
											<label for="password">Year Level
											</label>
											<input id="password" type="number" class="form-control" min="1" max="4" name="year_level" required="">
										</div>
										<div class="form-group col-md-4">
											<label for="password-confirm">Semester
											</label>
											<input id="password-confirm" type="number" class="form-control" min="1" max="2"  name="semester" required="">
										</div>
									</div>
									<div class="form-group no-margin">
										<button type="submit" class="btn btn-primary btn-block">
											Next
										</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>



			</div>

      </div>
    </main>


	<script src="{% static 'public/graindashboard/js/graindashboard.js' %}"></script>
    <script src="{% static 'public/graindashboard/js/graindashboard.vendor.js' %}"></script>
    
  </body>
</html>