{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Title -->
    <title>Register</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'public/img/logo.png' %}">

    <!-- Template -->
    <link rel="stylesheet" href="{% static 'public/graindashboard/css/graindashboard.css' %}">
  </head>

  <body class="">

    <main class="main">

      <div class="content">

			<div class="container-fluid pb-5">

				<div class="row justify-content-md-center">
					<div class="card-wrapper col-12 col-md-4 mt-5">
						<div class="brand text-center mb-3">
							<img src="{% static 'public/img/logo.png' %}" alt="" height="200" width="200">
							<h2>CIMS</h2>
						</div>

						{% if messages %}
							{% for message in messages %}
								{% if message.tags == 'error' %}
								<div class="alert alert-warning alert-left-bordered border-warning alert-dismissible d-flex align-items-center p-md-4 mb-2 fade show" 		role="alert">
									<i class="gd-flag-alt-2 icon-text text-warning mr-2"></i>
										<p class="mb-0">
											<strong>{{ message }}</strong> 
										</p>
									<button type="button" class="close" aria-label="Close" data-dismiss="alert">
									<i class="gd-close icon-text icon-text-xs" aria-hidden="true"></i>
									</button>
								</div>
								{% endif %}
							{% endfor %}
						{% endif %}

						<div class="card">
							<div class="card-body">
								<h4 class="card-title">Create new account</h4>
								<form method="post">
									{% csrf_token %}
									<div class="form-group">
										<label for="name">First Name</label>
										<input type="text" class="form-control" id="name" name="first_name" required="" autofocus="">
									</div>
									<div class="form-group">
										<label for="name">Last Name</label>
										<input type="text" class="form-control" id="name" name="last_name" required="" autofocus="">
									</div>
                                    <div class="form-group">
										<label for="name">Username</label>
										<input type="text" class="form-control" id="name" name="username" required="" autofocus="">
									</div>

									<div class="form-group">
										<label for="email">E-Mail Address</label>
										<input id="email" type="email" class="form-control" name="email" required="">
									</div>

									<div class="form-row">
										<div class="form-group col-md-6">
											<label for="password">Password
											</label>
											<input id="password" type="password" class="form-control" name="password1" required="">
										</div>
										<div class="form-group col-md-6">
											<label for="password-confirm">Confirm Password
											</label>
											<input id="password-confirm" type="password" class="form-control" name="password2" required="">
										</div>
									</div>


									<div class="form-group no-margin">
										<button type="submit" class="btn btn-primary btn-block">
											Sign Up
										</button>
									</div>
									<div class="text-center mt-3 small">
										Already have an account? <a href="{% url 'login' %}">Sign In</a>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>



			</div>

      </div>
    </main>


	<script src="{% static 'public/graindashboard/js/graindashboard.js' %}"></script>
    <script src="{% static 'public/graindashboard/js/graindashboard.vendor.js' %}"></script>
    
  </body>
</html>