{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Title -->
    <title>CIMS Job Info</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'public/img/favicon.ico' %}">

    <!-- Template -->
    <link rel="stylesheet" href="{% static 'public/graindashboard/css/graindashboard.css' %}">
  </head>

  <body class="">

    <main class="main">

      <div class="content">

			<div class="container-fluid pb-5">

				<div class="row justify-content-md-center">
					<div class="card-wrapper col-12 col-md-4 mt-5">
						<div class="brand text-center mb-3">
							<h2>Fill Up Job Info</h2>
						</div>

						<div class="card">
							<div class="card-body">
								<h4 class="card-title">Student Info</h4>
								<form method="post" enctype="multipart/form-data">
									{% csrf_token %}
									<div style="visibility: hidden; position: absolute;">
										{{form}}
									</div>
									<div class="form-group">
										<label for="name">Position</label>
										<input type="text" class="form-control" id="name" name="postition" required=""  autofocus="">
									</div>
									<div class="form-group">
										<label for="name">Company Name</label>
										<input type="text" class="form-control" id="name" name="company_name" required="" autofocus="">
									</div>
									<div class="form-group">
										<label for="name">Starting Date</label>
										<input type="date" class="form-control" id="name" name="starting_date" required="" autofocus="">
									</div>
									<div class="form-group">
										<label for="exampleFormControlFile1">Resume <sub>(Only Accepts PDF)</sub></label>
										<input type="file" name="resume" accept=".pdf" class="form-control-file" id="exampleFormControlFile1" required>
									</div>
									<div class="form-group no-margin">
										<button type="submit" class="btn btn-primary btn-block">
											Next
										</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>



			</div>

      </div>
    </main>


	<script src="{% static 'public/graindashboard/js/graindashboard.js' %}"></script>
    <script src="{% static 'public/graindashboard/js/graindashboard.vendor.js' %}"></script>
    
  </body>
</html>